<div class="form">
    {{ form_start(form, {'action': path('create_post')}) }}
    {{ form_widget(form) }}
    <input type="submit" value="Create" class="button animation" />
    {{ form_end(form) }}
</div>