{% extends "blog.html.twig" %}
{% block body %}
    {{ parent() }}
    {% block content %}
        <div id="contentBlock">
            {% block newTitle %}
                <div class="title">Додати тег</div>
            {% endblock %}
            {% block form %}
                {{ render(controller('AppBundle:Tag:create') }}
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}