{% extends "blog.html.twig" %}

{% block body %}
    {{ parent() }}
    {% block content %}
        <div id="contentBlock">
            <div id="leftCol" class="col">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pulvinar massa dapibus diam vehicula scelerisque. Integer fermentum nibh at sem accumsan egestas. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus id ipsum eu elit pulvinar fringilla nec vitae arcu. In vehicula metus sit amet est egestas, nec gravida nunc fringilla. Nulla dignissim ipsum sed mollis blandit. Nullam diam augue, finibus non ligula a, dignissim ornare lacus.
            </div>
            <div id="rightCol" class="col">
                Etiam dignissim sem vitae mauris pretium imperdiet. Curabitur finibus aliquam ipsum, et ornare mauris auctor vel. Duis auctor ligula urna, nec bibendum tellus dapibus lacinia. Suspendisse euismod tincidunt lorem sit amet facilisis. Aenean quis massa orci. Vestibulum egestas libero in nulla iaculis pretium. Nulla consectetur luctus metus, pulvinar tempor magna suscipit at. Maecenas libero quam, pharetra et rhoncus quis, dapibus in nulla. Morbi ornare egestas quam.
            </div>
        </div>
    {% endblock %}
{% endblock %}

