{% extends "base.html.twig" %}
{% block body %}
    {% block header %}
        <header>
          <div id="title">My symfony blog</div>
          <div id="navBar">
              <ul>
                  <li><a class="animation" href="{{ path("homepage") }}">Main page</a></li>
                  <li><a class="animation" href="{{  path("about") }}">About blog</a></li>
                  <li><a class="animation" href="{{  path("categories") }}">Categories</a></li>
                  <li><a class="animation" href="{{  path("create_post") }}">Add new post</a></li>
              </ul>
          </div>
        </header>
    {% endblock %}
{% endblock %}