{% extends "blog.html.twig" %}
{% block body %}
    {{ parent() }}
    {% block content %}
        <div id="contentBlock">
            <div class="form">
                {{ form_start(form, { 'action': path('create_user') })}}
                {{ form_widget(form) }}
                <input type="submit" value="Sign up" class="button animation" />
                {{ form_end(form) }}
            </div>
        </div>
    {% endblock %}
{% endblock %}