{% extends "blog.html.twig" %}
{% block body %}
    {{ parent() }}
    {% block content %}
        <div id="contentBlock">
        {% for category in categories %}
            <div class="post">
                <div class="titlePost">{{ category.name }}</div>
                <div class="contentPost">{{ category.description }}...</div>
                <a class="animation" href="{{ path('category_post_show', {'id': category.id}) }}">Перейти до статей</a>
            </div>
        {% endfor %}
        </div>
    {% endblock %}
{% endblock %}